body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;

}

.container {
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.highlight {
    font-weight: bold;
    color: darkblue;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ddd;
}

.box {
    background: #e0e0e0;
    padding: 10px;
    border-left: 5px solid #007bff;
    margin: 10px 0;
}
.footer {
    text-align: center; 
    margin-top: 20px; 
}

.social-icons {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
}

.social-icon {
    width: 50px; 
    height: auto; 
}

mark{
    background-color: lightblue;
    padding: 2px 5px;
    border-radius: 3px;
}